version: '3'
services:
  db:
    container_name: address_book_db
    image: postgres
    restart: always
    ports:
    - "5432:5432"
    environment:
    - POSTGRES_PASSWORD=postgres
    volumes: 
    - ./dbdata:/var/lib/postgresql/data
  app:
    image: rust:slim
    command: apt-get update & apt-get install --no-install-recommends -y libpq-dev libsqlite3-dev & rm -rf /var/lib/apt/lists/* & USER=root cargo new --bin app
    ports:
    - "8000:8000"
    environment:
    - APP_HOST=0.0.0.0
    - APP_PORT=8000
    - DATABASE_URL=postgres://postgres:postgres@db/postgres
    depends_on:
    - db
  dbadmin:
    image: adminer
    restart: always
    # networks:
    #   - caddy_proxy
    ports:
    - "8001:8080"
    expose:
      - "8001"
volumes:
  pgdata:
